# Auto detect text files and perform LF normalization
* text=auto

aerc/accounts.conf filter=git-crypt diff=git-crypt
.gnupg/private-keys-v1.d/** filter=git-crypt diff=git-crypt
secrets/** filter=git-crypt diff=git-crypt
ssh/** filter=git-crypt diff=git-crypt
